<% @order.line_items.each do |line_item| %>
  <tr>
    <td>
      <%= link_to line_item.product do %>
        <%= image_tag line_item.product.image.tiny, alt: line_item.product.name %>
      <% end %>
    </td>
    <td>
      <%= link_to line_item.product.name, line_item.product %><br>
      <%= line_item.product.description %>
    </td>
    <td><%= line_item.quantity %></td>
    <td><%= humanized_money_with_symbol line_item.item_price_cents.to_f/100 %></td>
    <td><%= humanized_money_with_symbol line_item.total_price_cents.to_f/100 %></td>
  </tr>
<% end %>

<tr>
<th colspan="4">TOTAL</th>
<th>
  <%= humanized_money_with_symbol @order.total_cents.to_f/100 %>
</th>
</tr>